/* 

======== TABLE OF CONTENTS ======== 

= Global settings
= Primary layout
= Secondary layout
= Tertiary layout
= Text-related treatments
= Images, links and other features
= General styles
= General classes 
= Miscellaneous 


== COLORS ==

== FONTS == 





*/

* {
	text-align: center;
	/* outline: 1px solid pink; */
}

body {
	margin: 0;
	background-color: #FDF5E6;
}

@font-face {
  font-family: 'laChatteaMaman';
  src: url('laChatteaMaman.ttf') format('truetype');
 }

 @font-face {
  font-family:'Gravity-Book';
  src:url('Gravity-Book.ttf') format('truetype');
 }

.save {
	font-size: 20px;
}

.new, .save {
	text-align: right;
	color:#fa536d;;
	cursor: pointer;
	font-weight: bold;
}


h2 {
	font-family:'Gravity-Book';
	border:5px solid #ffcf53;
	padding:5px;
	margin-top:20px;
	font-weight: lighter;
	font-size:1.4em;
	color: white;
	letter-spacing: 1px;

}

h1 {
	font-family:'laChatteaMaman';
	font-size:7.5em;
	text-shadow:2px 2px black;
	letter-spacing:2px;
	font-weight:lighter;
	color:#fa536d;
	height:35px;
}

.button:hover  {
	color:white;
	font-size:2em;
	cursor:pointer;
	text-shadow: none;
}

.button {
	font-size:1.8em;
	width:100px;
	display:inline;
	padding:5px 25px;
	font-family:'Gravity-Book';
	margin:10px;
	font-weight:bolder;
	color:#d52b5a;
	text-shadow: 1px 2px black;
}

header {
	background-color:#ffcf53;
	min-width: 600px;
}

.checked-off {
	color: gray;
	font-style: italic;
	font-size: 1.5em;
}

li {
	padding: 5px;
	font-family:'Gravity-Book';
	border-bottom: 1px dotted #E0DFDB; 
	font-size:2em;
	display: block;
	text-align: left;
	min-width: 500px;
	max-width: 700px;
	margin:auto;
}

.side {
	width: 49%;
	float: left;
	min-width: 500px;
}



.editing {
	border: 1px solid black;

}

footer {
	background-color: #ffcf53 ;
	font-size: 0.8em;
	color:#fa536d;
	width: 100%;
	font-family:'Gravity-Book';
	padding: 5px;
	margin: 0 auto;
	clear:both;
	position:fixed;
	bottom:0;

}


#container {
	max-width: 1100px;
	margin
}

