
/* SHOPPING LIST APP 
Table of Contents 

1. Header 
2. Structure
3. Nav
4. Search 
5. Headings
6. Lists
7. Forms
8. Links
9. Type
10. Misc.
11. Universal 
12. Comments 

*/ 



/* >>>>>>>>>>>>>>>>>>>>>>>>>> =HEADER  */ 


header {
	background-color:#ffcf53;
	min-width: 600px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>> =STRUCTURE  */ 

body {
	background-color: #FDF5E6;
	margin: 0;
}

/* #button {
	color: #d52b5a;
	display:inline;
	font-family:'Gravity-Book';
	font-size:1.8em;
	font-weight:bolder;
	margin:10px;
	padding:5px 25px;
	text-shadow: 1px 2px black;
	width:100px;
} */

.side {
	float: left;
	margin: 0 auto;
	min-width: 500px;	
	width: 49%;

}

footer {
	background-color: #ffcf53 ;
	bottom:0;
	clear:both;
	color:#fa536d;
	font-family:'Gravity-Book';
	font-size: 0.8em;
	margin: 0 auto;
	padding: 5px;
	position:fixed;
	width: 100%;
}


#container {
	max-width: 1100px;
	margin: 0 auto;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>> =HEADINGS  */ 


h2 {

	color: white;
	font-family:'Gravity-Book';
	font-size:1.4em;
	font-weight: lighter;
	letter-spacing: 1px;
	margin-top:20px;
	padding:5px;
}

h1 {
	color:#fa536d;
	font-family:'laChatteaMaman';
	font-size:7.5em;
	font-weight:lighter;
	height:35px;
	letter-spacing:2px;
	text-shadow:2px 2px black;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>> =LISTS  */ 

li {
	border-bottom: 1px dotted #E0DFDB; 
	display: block;
	font-family:'Gravity-Book';
	font-size:2em;
	margin:auto;
	max-width: 700px;	
	min-width: 500px;
	padding: 5px;
	text-align: left;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>> =FORMS  */

#form  {
 	display: none;
 } 

 #new:hover  {
	opacity: 1;
	cursor:pointer;
	font-size:2em;
	text-shadow: none;
}

#save:hover  {
	opacity: 1;
	cursor:pointer;
	text-shadow: none;
}

#editing {
	border: 1px solid black;

}

#save {
	font-size: 20px;
}

#new, #save {
	color: #fa536d;
	cursor: pointer;
	font-weight: bold;
	text-align: right;
	opacity: 0.8;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>> =TYPE  */ 

@font-face {
  font-family: 'laChatteaMaman';
  src: url('laChatteaMaman.ttf') format('truetype');
 }

 @font-face {
  font-family:'Gravity-Book';
  src:url('Gravity-Book.ttf') format('truetype');
 }

.checked-off {
	color: gray;
	font-size: 1.5em;
	font-style: italic;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>> =UNIVERSAL  */ 

* {
	text-align: center;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>> =COMMENTS 

>>>>>>>>>>>> =COLOR GUIDE= <<<<<<<<<<<<

Header & Footer BG    :::: #ffcf53
Body BG               :::: #FDF5E6 		
Title Text 			  :::: #fa536d
Buttons Text      	  :::: #fa536d
Footer Text           :::: #fa536d
List Border           :::: #E0DFDB
Checked-Off Items     :::: Gray
Editing Input Border  :::: Black
Title Shadow 		  :::: Black 
Instructions Text     :::: White

